<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee" version="5.0">
    <servlet>
        <servlet-name>ScrapeServlet</servlet-name>
        <servlet-class>com.scraper.ScrapeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScrapeServlet</servlet-name>
        <url-pattern>/ScrapeServlet</url-pattern>
    </servlet-mapping>
</web-app>
